<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href={{ url_for("static", filename="css/bootstrap.css") }} rel="stylesheet">
    <script src={{ url_for("static", filename="js/bootstrap.js") }}></script>
    <title>Расписание</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <br>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Главная</a>
                    </li>
                </ul>
                <br>
            </div>
            <div class="col-md-10">
                <br>
                {% block menu %}
                {% endblock %}
                <br>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                {% block footer %}
                {% endblock %}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    </div>
</body>
</html>

