{% extends "base.html" %}
{% block menu %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><h2>Главная</h2></li>
  </ol>
</nav>
{% endblock %}
{% block content %}
{% for _class in classes %}
  {% if loop.index == 9 %}
    <br>
    <br>
  {% elif loop.index == 17 %}
    <br>
    <br>
  {% elif loop.index == 25 %}
    <br>
    <br>
  {% endif %}
  <a href="/schedules/{{_class}}"><button type="{{_class}}" class="btn btn-outline-secondary btn-lg">{{_class}}</button></a>
{% endfor %}
{% endblock %}
{% block footer %}
    <p> Footer </p>
{% endblock %}