<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href={{ url_for("static", filename="icon/calendar.png") }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ url_for("static", filename="icon/favicon-32x32.png") }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ url_for("static", filename="icon/favicon-16x16.png") }}>
  <link rel="manifest" href={{ url_for("static", filename="icon/site.webmanifest") }}>
  <meta charset="utf-8">
  <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
  <script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>
  <title>Расписание</title>
</head>
<body>
  <div class="container">
    <div class="row" id="menu">
      <div class="col-3">
        <br>
        <br>
      </div>
      <div class="col">
        <br>
        <p class="display-6"> {{ years }} учебный год</p>
        <br>
      </div>
      <div class="col-1">
        <br>
        <br>
      </div>
    </div>
    <div class="row" id="content">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        {% for _class in classes %}
          {% if loop.index == 9 %}
            <br>
            <br>
          {% elif loop.index == 17 %}
            <br>
            <br>
          {% elif loop.index == 25 %}
            <br>
            <br>
          {% endif %}
            <a href="/schedules/{{_class}}-1"><button type="{{_class}}-1" class="btn btn-outline-secondary btn-lg">{{_class}}</button></a>
        {% endfor %}
      </div>
        <div class="col-lg-1">
        </div>
    </div>
      <div class="row" id="footer">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <br>
          <p class="small">
            <img src={{ url_for("static", filename="img/copyleft.png")}} width="16" height="16" alt="Copyleft"> Stepan Skriabin
          </p>
        </div>
    </div>
  </div>
</body>
</html>