{% extends "base.html" %}
{% block menu %}
<h4>Расписание уроков для {{ classname }} класса, с {{ week[page_id-1].get("start") }} по {{ week[page_id-1].get("end") }}</h4>
{% endblock %}
{% block content %}
<div class="container">
<div class="table-responsive">
<table class="table table-sm table-striped">
  <thead>
    <tr>
      {% for column in columns %}
        <th class="fs-6 lh-sm" scope="col">{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for row in rows %}
        <th class="fs-6 lh-sm" scope="row">{{ row }}</th>
        {% for timetable in timetables %}
          {% for item in timetable %}
            {% if item.lesson_number == row %}
              <td class="fs-6 lh-sm">{{ item.lesson_room }}
                                    <br>
                                    {{ item.lesson_name }}
                                    <br>
                                    {{ item.lesson_teacher }}
                                    <br>
                                    {{ item.lesson_time }}
                                    </td>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tr>
        <tr>
      {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}
{% block footer %}
<nav aria-label="...">
  <ul class="pagination">
    {%if page_id == 1 %}
      <li class="page-item active" aria-current="page">
        <span class="page-link">Текущая неделя</span>
      </li>
      <li class="page-item">
        <a class="page-link" href="/schedules/{{classname}}-2">Следующая неделя</a>
      </li>
    {% elif page_id == 2 %}
      <li class="page-item">
      <a class="page-link" href="/schedules/{{classname}}-1">Текущая неделя</a>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">Следующая неделя</span>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}